.title{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.logo{
    text-align: center;
    margin-top: 120px;
    border: solid;
}

.btn-primary{
    background-color:#d57a34 ;
    border-color: #d57a34;
}