.title {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.logo {
  text-align: center;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #d57a34;
  border-color: #d57a34;
}

.password-icon {
  float: right;
  position: relative;
  margin: -25px 10px 0 0;
  cursor: pointer;
}
