<div class="logo">
  <img style="width: 100px; height: 100px; border-radius: 10px;" src="assets/images/logo.png" alt="">
</div>
<p class="title">Registrate en KOOC</p>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Correo Electronico</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@mail.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="*********">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Confirmar Contraseña</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="*********">
</div>
<button type="submit" class="btn btn-primary">Registrarme</button>
