<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <app-nav-bar></app-nav-bar>
  </div>
</div>
<app-slider></app-slider>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <app-card-product></app-card-product>
    </div>
  </div>
</div>
<app-section></app-section>
<div class="container">
  <app-carousel></app-carousel>
</div>
<a href="https://wa.me/573003746970?text=Me%20gustaría%20saber%20el%20precio%20del%20curso" class="whatsapp"
  target="_blank"><i class="fa fa-whatsapp whatsapp-icon"></i></a>
<app-footer></app-footer>