@import "~swiper/swiper";
@import "~swiper/components/effect-coverflow/effect-coverflow";
@import "~swiper/components/pagination/pagination";

/*@font-face {
  font-family: 'Kaushan Script';
  font-display: swap;
  src: url(/assets/fontcursiva/KaushanScript-Regular.ttf) format('truetype');
}*/
.titlesction {
	font-family: 'Kaushan Script'!important;
    font-size: 34px !important;
    font-weight: 700 !important;
    letter-spacing: 5px !important;

    
}
.details h2{
    font-family:'Kaushan Script'!important;
    font-size: 29px !important;
    text-align: center !important;
   
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.title{
    text-align: center !important;
    font-size: 10px !important;
    margin-top: 50px !important;
    margin-bottom: 10px !important;
    font-weight: 400 !important;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 8px;
}
@media only screen and (max-width: 1000px) {
  .swiper-slide img {
    width: 300px;
    height: 300px;
  }
}
.perfil{
  position: relative;
  max-width: 100%;
}
.perfil:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}

