<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<div class="row">
  <div class="col-lg-12 col-xs-12 col-md-12 col-mb-12">
    <div class="title">
      <h2 class="titlesction">Nuestros Profesores</h2>
    </div>
  </div>
</div>
<swiper [effect]="'coverflow'" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }" [pagination]="false" class="mySwiper">
    
  <ng-template swiperSlide *ngFor="let chef of chefs"> 
    <div class="perfil">
      <div class="layer"></div>
    <img [routerLink]="['/','profile-chef', chef.id ]" src="{{chef.image}}" alt="">
    <div class="details">
      <h2>{{chef.name}}</h2>
    </div>
    </div>
  </ng-template>
</swiper>
