@import "~swiper/swiper";
@import "~swiper/components/effect-coverflow/effect-coverflow";
@import "~swiper/components/pagination/pagination";

.titlesction {
	font-family:'Kaushan Script', cursive !important;
    font-size: 34px !important;
    font-weight: 700 !important;
    letter-spacing: 5px !important;
}
.details h2{
    font-family:'Kaushan Script', cursive !important;
    font-size: 29px !important;
    text-align: center !important;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullets  {
    border: solid;
    border-color: red;
    margin-top: -120px !important;
}
.title{
    text-align: center !important;
    font-size: 10px !important;
    margin-top: 50px !important;
    margin-bottom: 10px !important;
    font-weight: 400 !important;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

