.carousel-item{
    width: 100%;
    overflow: hidden;
    height: auto;
    padding-left: 0 !important;
}
.carousel-item img{
    width: 100%;
    height:90vh;
}
@media only screen and (max-width: 1000px) {
    .carousel-item img {
        display: block;
        width: 100%;
        height: auto;
    /*padding-top: 65px;*/
    
    }
  
    .carousel-caption h1 {
        margin-top: -190px;
        padding-left: 2px !important;
        text-align: left;
        line-height: 90%;
        font-size: 30px !important;
    }
    .carousel-caption .btn-primary {
        margin-top: -5px !important;
        margin-left: 8px !important;
    }
  

    
}

.carousel-indicators .active {
    opacity: 1;

}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color:#fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    opacity: 1;
}
#slider-home {
	margin-bottom: 50px;
}
/*.carousel-caption {
	background-color: rgba(41, 23, 1, 0.75);
	height: 100%;
	left: 0;
	top: 0;
	padding: 30px 45px;
	text-align: left;
	width: 340px;
}*/
.carousel-caption {
	background-color: rgba(0, 0, 0, .5);
	height: 100%;
	left: 0;
	top: 0;
    padding: 30px 45px;
	text-align: left;
	width: 100%;
}
.carousel-caption h1{
    padding-top: 190px;
    padding-left: 55px;
    font-size: 52px;
    background-size: cover;
    line-height: 90%;
}
.carousel-caption .btn-primary {
    margin-top: 18px;
    margin-left: 60px;
}
.btn-primary{
    background-color:#df8622  ;
    border-color: #df8622;
    margin-bottom: 10px;
    width: auto;
    margin: 5px;
}
.btn-primary:hover {
    background-color: rgba(108, 117, 125, 0.75);
    border-color: white;
}
.carousel-inner{
    margin-top: 70px !important;
}
.carousel-caption p {
    font-size: 14px;
    line-height: 18px;
}

.carousel-caption h2 {
    font-size: 26px;
    line-height: 30px;
    margin-top: 80px;
}

.carousel-caption .h4  {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.carousel-caption img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.carousel-caption a {
    border-radius: 0;
    color: white;
    border: none;
}
