<div id="slider-home" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-autoplay="true"
    data-autoplaytimeout="800">
    <ol class="carousel-indicators" id="indicadores">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.kooc.com.co/assets/images/cursos/platouno.png" class="d-block w-100" alt="...">
            <!--div class="carousel-caption">

                <h2>Hoy de Lanzamiento</h2>
                <img alt="menú 2x1" src="assets/images/2x1.png">
                <p class="h4">en todos los cursos de postres</p>
                <p>Consulta esta y todas nuestras otras promociones en nuestro apartado.</p>
                <button type="button" [routerLink]="['/','detail-category', 1]" class="btn btn-outline-secondary">Ver curso</button>

              </div-->

        </div>
        <div class="carousel-item">
            <img src="https://www.kooc.com.co/assets/images/cursos/platodos.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.kooc.com.co/assets/images/cursos/platotres.png" class="d-block w-100" alt="...">
        </div>
    </div>
</div>