<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<app-nav-bar></app-nav-bar>
<div class="container">
<div class="logo">
    <img style="width: 100px; height: 100px; border-radius: 10px;" src="assets/images/logo.png" alt="">
  </div>
  <p class="title">Contactanos</p>
  
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Mensaje</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
        aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
          