<div class="fab-container">
    <div class="fab shadow">
      <div class="fab-content">
        <span class="material-icons">
          support_agent
          </span>
      </div>
    </div>
    <div class="sub-button shadow">
      <a href="https://wa.me/573177716486?text=Me%20gustaría%20saber%20el%20precio%20del%20curso" target="_blank"><i
          class="fa fa-whatsapp"></i></a>
    </div>
    <div class="sub-button shadow">
      <a href="javascript:void(0)" (click)="openMessageForm()">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
    <div class="sub-button shadow">
      <a href="https://www.facebook.com/kooc.gastronomia" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
    <div class="sub-button shadow">
      <a href="https://www.instagram.com/p/CQrMicIh4pV/?utm_source=ig_web_copy_link" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
   <!--  <div class="sub-button shadow">
      <a href="https://twitter.com/home" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div> -->
  </div>