.container{
    margin-top: 100px !important;
}

.btn-primary{
    background-color:#d57a34 ;
    border-color: #d57a34;
}

.title{
    text-align: center;
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 400;
}

.titlesction {
	font-family:'Kaushan Script', cursive;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 5px;
	margin-top: 60px;
}