<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="cajauno">
        <div class="instructor">
          <img src="assets/images/kc.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-lg-8">
    <div class="cajados">
      <section>
        <div class="perfil">
          <h1 class="instructor__name">
            ESCUELA DE GASTRONOMÍA KOOC
          </h1>
        </div>
        <hr>
        <h3 class="instructor__title">
          Mision
        </h3>
        <p class="text-justify">La Escuela Kooc es una entidad Creada con el propósito contribuir a elevar el 
            desarrollo social, Económico educativo y cultural de Colombia, en todos los sectores de nuestro país, 
            dentro de los principios y valores democráticos de nuestro país,de manera integral, para asegurar así la 
            convivencia pacifica y la vigencia de un orden justo, sobre todo, en tratándose de la igualdad de géneros.
             Por lo cual propone, desarrolla y ejecuta académicamente planes, proyectos y procesos de construcción que 
             fortalezcan el tejido social y los lazos de unión entre todos los ciudadanos. </p>
             <h3 class="instructor__title">
                Vision
              </h3>
              <p class="text-justify">La escuela kooc para lograr estos objetivos de reabrir nuevos espacios que 
                  propendan por el desarrollo socioeconómico, educativo y cultural de la sociedad, trabaja con 
                  criterio social,  </p>
      </section>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="instructor__title">
            Valores
          </h3>
          <p class="text-justify">Tenemos algunos valores establecidos para nuestra empresa con el fin de llegar a 
              tener un desarrollo efectivo y un crecimiento constante por lo que creemos que debemos aplicarlos 
              cumplirlos  cabalidad, estos valores son:  </p>
              <ul type="circle">
                  <li> Prácticas de trato respetuoso de nuestro personal </li>
                    <li> Comunicación clara y honesta </li>
                        <li> Responsabilidad laboral </li>
                            <li>Innovación </li>
                                <li>Disciplina </li>
                    
              </ul>
              <div class="imagendos">
              <img src="assets/images/grupotres.png" alt="">
              </div>
              <p class="text-justify">Teniendo en cuenta lo anterior podemos empezar a crear una idea clara de lo que 
                  queremos hacer como escuela de gastronomía partiendo del conocimiento que tenemos en esta área ya que 
                  somos profesores que durante varios años hemos trabajado en esta profesión y creemos que tenemos el
                   discernimiento necesario para poder emprender un proyecto, todo enfocado en personas del común que 
                   estén interesados en adquirir conocimientos en las áreas de pastelería, repostería, panadería y cocina
                    sabemos que el mercado es muy competitivo pero contamos con profesores de una larga trayectoria y 
                    con reconocimiento a nivel profesional, nuestra idea es manejar un mercado donde podamos ser accesibles
                     a varios tipos de población de dentro y fuera de la ciudad, el ideal para poder empezar a llegar a las 
                     personas es manejar redes sociales, pagina web, el voz a voz e ir desarrollando estrategias de venta 
                     según como se nos vaya presentando el mercado. </p>
                     <ul type="square">
                        <li> Inicialmente empezaríamos a trabajar conjuntamente el chef John Rosas y Marcela Garzón quienes 
                            contamos con el conocimiento para poder trabajar según la experiencia adquirida en todo lo que 
                            respecta al tema administrativo, a la docencia y a la creación de programas </li>
                          <li> Es importante tener un excelente cuerpo de docentes y analizar sus trabajos para así poderlos
                               ir enfocando en sus fortalezas con el fin de que cada uno este enfocando en su respectiva área
                                y así lograremos que los resultados siempre sean los mejores </li>
                              <li>Crear un pensum es de vital importancia, pues tanto en cocina como en pastelería podríamos 
                                  ajustarlos un poco a lo que la gente le podría interesar más y a partir de ello poderle enseñar 
                                  a los alumnos nuestros conocimientos con el fin de que ellos tengan claro que es los  que van a 
                                  hacer durante su curso</li>
                                  <li>También hemos pensado que es una muy buena opción manejar la venta de producto en los tiempos que 
                                      tengamos libre la cocina con el fin de tener un ingreso adicional </li>
                                      <li>Establecer metas de ventas es muy importante porque de esta forma todos buscaremos la forma de 
                                          implementar estrategias y así lograr un mayor movimiento </li>
                                          <li>Después de exponer todo nuestro plan de trabajo nos gustaría contar con su participación ya que
                                               usted tiene los equipos y la infraestructura requerida para el montaje de la escuela y su participación 
                                               seria de vital importancia, obviamente estamos sujetos a cambios, aportes y sugerencias que usted quiera
                                                hacer con el fin de tener mejores resultados  </li>

                          
                    </ul>
    </div>
</div>
</div>
    
    <!-- /.col-md-4 -->
<!--/div-->
<a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp"
  target="_blank"><i class="fa fa-whatsapp whatsapp-icon"></i></a>
<app-footer></app-footer>
