<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="cajauno">
        <div class="instructor">
          <img src="assets/images/kc.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-lg-8">
    <div class="cajados">
      <section>
        <div class="perfil">
          <h1 class="instructor__name">
            ESCUELA DE GASTRONOMÍA KOOC
          </h1>
        </div>
        <hr>
        <h3 class="instructor__title">
          Mision
        </h3>
        <p class="text-justify">La Escuela Kooc es una entidad Creada con el propósito contribuir a elevar el desarrollo social,
           Económico educativo y cultural de Colombia,enfocada básicamente en la capacitación de personas profesionales, empíricas
            o aficionados que estén interesados en ampliar su conocimiento en todo lo que tiene que ver con las áreas de Panadería, 
            Pastelería y cocina,  dentro de los principios y valores democráticos de nuestro país, de manera integral, para asegurar 
            así la convivencia pacífica y la vigencia de un orden justo, sobre todo, en tratándose de la igualdad de géneros. Por lo cual 
            propone, desarrolla y ejecuta académicamente planes, proyectos y procesos, manejaremos cursos básicos e intensivos con técnicas de
             tendencia así como también tradicionales, además nos enfocaremos un poco en el tema de producción y venta al público según sus necesidades,
              asesorías para otros establecimientos gastronómicos y alquiler de cocinas si fuese necesario.
          Nuestra idea es impartir nuestros conocimientos de una manera diferente con cursos muy completos con una cantidad de personas limitada con el fin
           de tratar de hacer nuestras clases dinámicas y un poco más personalizadas, que fortalezcan el tejido social y los lazos de unión entre todos los 
           ciudadanos.
           </p>
             <h3 class="instructor__title">
                Vision
              </h3>
              <p class="text-justify">La escuela kooc para lograr estos objetivos de reabrir nuevos espacios que propendan por el desarrollo socioeconómico, educativo
                 y cultural de la sociedad, trabaja con criterio social, disciplina social y un alto sentido de la responsabilidad dentro de un conocimiento real de todo
                  lo relacionado con la cocina nacional e internacional con reglas de comportamiento individual y colectivo, en aspectos y circunstancias que promuevan la
                   sana convivencia en todos los ordenes, cuando simultáneamente también pretende estar posicionada para el ano 2025 con buen nombre y credibilidad como una 
                   de las organizaciones mas modernas, influyentes y con cultura de servicio confiable para los ciudadanos, en el estudio de los temas de cocina enfocado en el
                    reconocimiento por el desempeño y calidez con nuestros estudiantes, con el fin de formar personas con muy buenas técnicas de trabajo, y así hacer que nuestra
                     escuela se destaque por el sistema educativo diferente donde nuestros alumnos no vayan solo a aprender si no a hacer de las clases momentos agradables para ampliar 
                     su conocimiento. </p>
      </section>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="instructor__title">
            Valores
          </h3>
          <p class="text-justify">Tenemos algunos valores establecidos para nuestra empresa con el fin de llegar
             a tener un desarrollo efectivo y un crecimiento constante por lo que creemos que debemos aplicarlos 
             cumplirlos  cabalidad, estos valores son: </p>
             <div class="imagendos">
              <img src="assets/images/grupotres.png" alt="">
              </div>
              <ul type="circle">
                  <li> Prácticas de trato respetuoso de nuestro personal y clientes </li>
                    <li> Comunicación clara y honesta </li>
                        <li> Responsabilidad laboral </li>
                            <li>Innovación </li>
                                <li>Disciplina </li>
                                <li>Consecuencia</li>
                                <li>Perseverancia</li>
                                <li>Seriedad </li>
                                <li>Cooperación y trabajo en equipo </li>
                    
              </ul>
    </div>
</div>
</div>
    
    <!-- /.col-md-4 -->
<!--/div-->
<app-float-buttons></app-float-buttons>
<app-footer></app-footer>
