<div class="row">
  <div class="col-lg-12 col-xs-12 col-md-12 col-mb-12">
<div class="title">
  <h2 class="titlesction">Nuestras Categorías</h2>
</div>
</div>
</div>
<div class="row text-center">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let category of categories">
    <div class="carduno">
      <div class="layer"></div>
      <a [routerLink]="['/', 'detail-category', category.id, category.name]"
        ><img
          style="width: 626px; height: 420px;"
          src="{{ category.image }}"
          alt=""
      /></a>
      <div class="card-body">
        <h5 class="titlesction">{{ category.name }}</h5>
      </div>
    </div>
  </div>
</div>
