<div class="title">
  <h2 class="titlesction">Nuestras Categorías</h2>
</div>
<div class="row text-center">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let category of categories">
    <div class="carduno">
      <a [routerLink]="['/', 'detail-category', category.id, category.name]"
        ><img
          style="width: auto; height: 400px"
          src="{{ category.image }}"
          alt=""
      /></a>
      <div class="card-body">
        <h5 class="titlesction" style="margin-top: 0;">{{ category.name }}</h5>
      </div>
    </div>
  </div>
</div>
