<div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="carduno">
          <a href="#"><img class="card-img-top" src="assets/images/gastronomia.png" alt=""></a>
          <!--h4 class="card-titleuno">
            <a href="#">Ver curso</a>
          </h4!-->
          <div class="card-body">
            <h5>0.000</h5>
            <p class="card-text">Llévate este curso por solo USD$9 dólares!</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="carduno">
          <a href="#"><img class="card-img-top" src="assets/images/nutricion.png" alt=""></a>
          <!--h4 class="card-titleuno">
            <a href="#">Ver curso</a>
          </h4!-->
          <div class="card-body">
            <h5>$0.000</h5>
            <p class="card-text">Llévate este curso por solo USD$9 dólares!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="carduno">
          <a href="#"><img class="card-img-top" src="assets/images/emprendimiento.png" alt=""></a>
          <!--h4 class="card-titleuno">
            <a href="#">Ver curso</a>
          </h4!-->
          <div class="card-body">
            <h5>$0.000</h5>
            <p class="card-text">Llévate este curso por solo USD$9 dólares!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="carduno">
          <a href="#"><img class="card-img-top" src="assets/images/cocinalab.png" alt=""></a>
          <!--h4 class="card-titleuno">
            <a href="#">Ver curso</a>
          </h4!-->
          <div class="card-body">
            <h5>$0.000</h5>
            <p class="card-text">Llévate este curso por solo USD$9 dólares!</p>
        </div>
      </div>
</div>